
body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    font-size: xx-large; 
    color: black;
    font-weight: bold;
    gap: 250px;
    background-color: rgb(255, 162, 48);
    line-height: 1.0;

}

a {
    color: blue;
}

a:visited {
    color: blue;
}

#display {
    line-height: 1.2;
}

textarea {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    width: 1765px; height: 599px;
    font-weight: bold;
    outline: none; 
    text-align: left; 
    margin: 8px 0;
    box-sizing: border-box;
    font-size: x-large;
    border: none;
}

/* changes textarea size only for phones */
@media only screen and (max-width: 480px) {
    textarea {
        width: 350px; height: 172px;
    }

    .text2 {
        line-height: 1.2;
    }
}


p {
    text-align: center;
    line-height: 20px;
}

ul {
    text-align: center;
    line-height: 0.8;
    list-style-type: square;
}

.button {
    text-align: center;
}

button {
    text-align: center;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(247, 140, 0);
    cursor: pointer;
    line-height: 1.0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: xx-large;
    border-radius: 16px;
    border: 3px solid black;
    outline: none;
    box-shadow: 0 4px #999;
}

button:hover {
    background-color: rgb(252, 159, 39);
    transition: 0.8;
}

button:active {
  background-color: rgb(253, 167, 54);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.popup {
    color: black;
    background-color: red;
    width: 100%;
}