
body {
    font-family: "Work Sans", Arial, Helvetica, sans-serif; 
    font-size: xx-large; 
    color: black;
    font-weight: normal;
    gap: 250px;
    background: rgb(255,162,48);
    background: linear-gradient(90deg, rgba(255,162,48,1) 22%, rgba(255,79,116,1) 81%);
    background-repeat: repeat;
    line-height: 1.0;

}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text {
    margin: 1rem;
}

.text2 {
    padding: 0px;
}

textarea {
    font-family: "Work Sans", Arial, Helvetica, sans-serif; 
    /* width: 1890px;
    height: 393px; */
    width: 100%;
    height: 20rem;
    font-size: x-large;
    outline: none; 
    margin: 8px 0;
    box-sizing: border-box;
    font-size: x-large;
    border: none;
}

textarea#textfield {
    border-radius: 10px;
}

/* changes textarea size only for phones */
@media only screen and (max-width: 480px) {
    textarea {
        width: 100%; height: 172px;
    }

    button:active {
        -webkit-transform: translateY(4px);
        -webkit-box-shadow: inset 0 3px #666;
        -webkit-transition-duration: 0.1s ease-in-out;
        -webkit-transition-property: all;
    }

    .button {
        margin-bottom: 1rem;
    }

    .text2 {
        line-height: 1.2;
    }
}
 /*landscape mode*/
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    textarea {
        width: 100%; height: 172px;
    }    
    p {
        line-height: 0.9;
    }
}
p {
    text-align: center;
}

 

 .button {
    text-align: center;
    display: inline-flexbox;
}

button {
    text-align: center;
    font-weight: thin;
    padding: 15px;
    background-color: rgb(247, 140, 0);
    cursor: pointer;
    line-height: 1.0;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    font-size: xx-large;
    border-radius: 10px;
    border: 3px solid black;
    outline: none;
    box-shadow: 0 4px #999;
    
}

button:hover {
    background-color: rgb(252, 159, 39);
    -webkit-transition: all 0.1s ease-in-out;
    transition: 0.3;
}

button:active {
  background-color: rgb(253, 167, 54);
  box-shadow: 0 3px #666;
  transform: translateY(4px);
} 